<launch>

  <arg name="output" default="screen" />
  <arg name="respawn" default="false" />
  <arg name="visualize" default="false" />

  <arg name="node_name" default="image_consumer" />
  <arg name="image_topic" default="image_raw" />
  <arg name="reset_service" default="reset_consumer" />
  <arg name="auto_reset" default="true" />

  <arg name="target" default="output.mkv" />
  <arg name="format" default="X264" />
  <arg name="width" default="1920" />
  <arg name="height" default="1080" />
  <arg name="fps" default="30" />

  <arg name="pipeline" default="appsrc ! video/x-raw, format=(string)BGR ! videoconvert ! video/x-raw, format=BGRx ! nvvidconv ! video/x-raw(memory:NVMM), format=(string)I420 ! omxh264enc ! matroskamux ! queue ! filesink location=$(arg target)" />

  <arg name="nodelet_manager" default="" />
  <arg name="manager_name" value="$(arg node_name)_manager" if="$(eval nodelet_manager == '')" />
  <arg name="manager_name" value="$(arg nodelet_manager)" unless="$(eval nodelet_manager == '')" />

  <node pkg="nodelet" type="nodelet" name="$(arg node_name)_manager" args="manager"
        respawn="$(arg respawn)" output="$(arg output)" if="$(eval nodelet_manager == '')"/>

  <node pkg="nodelet" type="nodelet" name="$(arg node_name)" 
        args="load image_consumer/ImageConsumerNodelet $(arg manager_name)"
        respawn="$(arg respawn)" output="$(arg output)">
    <param name="backend" type="str" value="gstreamer" />
    <param name="target" type="str" value="$(arg pipeline)" />
    <param name="format" type="str" value="$(arg format)" />
    <param name="width" type="int" value="$(arg width)" />
    <param name="height" type="int" value="$(arg height)" />
    <param name="fps" type="double" value="$(arg fps)" />
    <param name="auto_reset" type="bool" value="$(arg auto_reset)" />
    <remap from="reset" to="$(arg reset_service)" />
    <remap from="image" to="$(arg image_topic)" />
  </node>

  <node pkg="image_view" type="image_view" name="$(arg node_name)_view" 
        output="$(arg output)" respawn="$(arg respawn)" if="$(arg visualize)">
    <remap from="image" to="$(arg image_topic)" />
  </node>

</launch>
